<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.CommentMapper">

	<resultMap type="comment" id="commentMap">
		<result column="comment_no" property="commentNo" />
		<result column="user_id" property="userId" />
		<result column="comment_content" property="commentContent" />
		<result column="reg_date" property="regDate" />
	</resultMap>

	<!-- 방명록 검색 -->
	<!-- resultType과 resultMap 명확하게 구별. -->
	<select id="listComment" resultMap="commentMap" parameterType="long">
		select * from comment_tab

		<where>
			<if test="commentNo != null">
				comment_no = #{commentNo}
			</if>
		</where>
	</select>

	<!-- 방명록 검색1 -->
	<!-- <select id="listComment" resultType="comment" parameterType="long"> -->
	<!-- select * from comment_tab -->

	<!-- <where> -->
	<!-- <if test="commentNo != null"> -->
	<!-- comment_no = #{commentNo} -->
	<!-- </if> -->
	<!-- </where> -->
	<!-- </select> -->

	<!-- -->
	<select id="viewComment" resultType="comment" parameterType="long">
		select * from comment_tab where comment_no = #{commentNo}
	</select>


	<!-- 방명록 입력 -->
	<insert id="insertComment" parameterType="comment">
		INSERT INTO comment_tab(comment_no, user_id, comment_content, reg_date)
		VALUES( #{commentNo} , #{userId} , #{commentContent} , sysdate )
	</insert>

	<!-- 방명록 삭제 -->
	<delete id="deleteComment" parameterType="comment">
		DELETE FROM comment_tab WHERE COMMENT_NO = #{commentNo} AND USER_ID = #{userId}
	</delete>

	<!-- 방명록 수정 -->
	<update id="updateComment" parameterType="comment">
		UPDATE comment_tab SET comment_content = #{commentContent} WHERE comment_no=#{commentNo} AND user_id = #{userId}
	</update>

</mapper>